/* styles in src/style directory are applied to the whole page */
/*body {*/
  /*background: #0147A7;*/
  /*color: #fff;*/
/*}*/

/*a {*/
  /*color: #03A9F4;*/
/*}*/

/*main {*/
  /*padding: 1em;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*text-align: center;*/
  /*margin-top: 50px;*/
  /*display: block;*/
/*}*/

/*footer {*/
  /*text-align: center;*/
  /*font-size: 0.8em;*/
/*}*/

.main-ui-view {
  padding: 0px 15px;
}

.modal-content {
  padding: 15px;
}

.error {
  font-weight: bold;
  color: red;
}

th.sortable {
  cursor: pointer;
}

body {
  font-family: MetricHPE-Regular;
}

.hpe-green {
  color: #018982 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #018982;
  color: #efefef;
}

a {
  color: #018982;
}

.btn-default {
  border-color: #018982;
}

.btn-primary, .btn-info {
  background-color: #018982;
  border-color: black;
}

.btn-primary:hover, .btn-info:hover {
  background-color: #006760;
}

.btn-primary[disabled], .btn-primary[disabled]:hover {
  background-color: #23ABA4;
}

.checkbox label::before {
  border-color: #018982;
}

span.checkmark:before,
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: MetricHPE-Regular;
  font-size: 16px;
  content: "\2713";
  color: #018982;
}

.glyphicon-remove:before, .glyphicon-trash:before {
  color: #018982;
}
