<script>
    function getServerName() {
        return location.protocol + '//' + location.hostname;
    }
</script>
<div class="login">
    <p>You are logged in as <i>{{::home.user.firstName}} {{::home.user.lastName}}.</i></p>
    <p>
        <b>Your Email Addresses</b>
    <ul>
        <li ng-repeat="email in home.user.emails">
            {{::email}}
        </li>
    </ul>
    </p>
    <p><b>Your Accounts</b>
        <ul>
            <li ng-repeat="account in home.user.accounts">
                {{::account.name}} - <i>{{::account.role_names.join(', ')}} </i>
    <p>
        <a href={{::home.envi.proto}}//{{::home.envi.srv}}/?st={{::account.account_id}} target="_blank">Open Gaia
            UI</a><br>
    <div ng-if="account.role_ids.indexOf('1')>-1">
        <a href={{::home.envi.proto}}//{{::home.envi.srv}}:{{::home.envi.servicesPort}}/gau?st={{::account.account_id}}
           target="_blank">Open Gaia Admin UI</a>
    </div>
    </p>
    </li>
    </ul>
    </p>

</div>
