<div>
  <form name="accountInvitation" ng-submit="sendInvite()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        placeholder="Invited user's email address"
        ng-model="invitation.email"
        ng-required="true">
        <div ng-messages="accountInvitation.email.$error" ng-show="accountInvitation.email.$dirty">
          <div ng-message="required">required</div>
        </div>
    </div>
    <div class="form-group">
      <label for="permissions">Permissions</label>
      <div id="permissions">
        <div ng-repeat="role in roles">
          <input
            type="checkbox"
            name="roles"
            checklist-model="invitation.role_ids"
            checklist-value="role.id" />
          {{::role.name}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-block" ng-click="cancel()">Cancel</button>
      </div>
      <div class="col-xs-6">
        <button ng-disabled="!accountInvitation.$valid || invitation.role_ids.length === 0" type="submit" class="btn btn-primary btn-block" >Send Invitation</button>
      </div>
    </div>
  </form>
</div>
