<div class="user-list table-responsive">
  <table class="table table-striped">
    <caption>USERS</caption>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th ng-if="mode==='user-management'">Emails</th>
      <th ng-if="mode==='user-management'">Superuser</th>
      <th ng-if="mode!=='user-management'" ng-repeat="role in roles">{{::role.name}}</th>
      <th></th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{::user.firstName}}</td>
      <td>{{::user.lastName}}</td>
      <td ng-if="mode==='user-management'">
        <div class="emails" title="{{user.emails.join(', ')}}">{{user.emails.join(', ')}}</div>
      </td>
      <td ng-if="mode==='user-management'"><span ng-if="user.isSuperuser">X</span></td>
      <td ng-if="mode!=='user-management'" ng-repeat="role in roles">
        <!-- TODO: Refactor to checklist-model, like invitations -->
        <input
          type="checkbox"
          name="roles"
          ng-model="user.radio[role.id]"
          ng-init="user.radio[role.id] = (user.role_ids.indexOf(role.id) !== -1)"
          ng-change="onRoleChange(user)"/>
      </td>
      <!-- REMOVE / DELETE -->
      <td ng-if="mode==='user-management'"><div ng-click="onDeleteUser(user)" style="cursor: pointer" class="glyphicon glyphicon-trash"></div></td>
      <td ng-if="mode!=='user-management'"><div ng-click="onRemoveUser(user)" style="cursor: pointer" class="glyphicon glyphicon-remove"></div></td>
    </tr>
  </table>
</div>
